extends ./layout.jade
block contenido

          .container
            form(action="/apreciacion",method="POST")
              .form-inline
                div(class="form-group")
                  label(for="apr_persona") Cedula
                  select(name="apr_persona")#sel1.form-control
                    -for (var i = 0; i < personas.rowCount; ++i)
                      option=personas.rows[i].per_cedula

              div(class="form-group")
                  label(for="apr_periodo") Periodo
                  input(type="text", name="apr_periodo", placeholder="Periodo Apreciado",id="apr_periodo",class="form-control form-control-lg border-left-0")
                      

              div(class="form-group")
                  label(for="apr_solucion_problema") Solucion de Problemas
                    select(name="apr_solucion_problema")#sel1.form-control
                      option 1
                      option 2
                      option 3
                      option 4
                      option 5
                      option 6
                      option 7
                      option 8
                      option 9
                      option 10
                      
              div(class="form-group")
                  label(for="apr_conoce_negocio") Conocimiento del Negocio
                   select(name="apr_conoce_negocio")#sel1.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                    option 6
                    option 7
                    option 8
                    option 9
                    option 10

              div(class="form-group")
                  label(for="apr_habilidad_social") Habilidad Social
                    select(name="apr_habilidad_social")#sel1.form-control
                      option 1
                      option 2
                      option 3
                      option 4
                      option 5
                      option 6
                      option 7
                      option 8
                      option 9
                      option 10              

              div(class="form-group")
                  label(for="apr_liderazgo") Liderazgo
                    select(name="apr_liderazgo")#sel1.form-control
                      option 1
                      option 2
                      option 3
                      option 4
                      option 5
                      option 6
                      option 7
                      option 8
                      option 9
                      option 10  

              div(class="form-group")
                  label(for="apr_auto_desarrollo") Autodesarrollo
                    select(name="apr_auto_desarrollo")#sel1.form-control
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                        option 6
                        option 7
                        option 8
                        option 9
                        option 10
              
              div(class="form-group")
                  label(for="apr_auto_motivacion") Automotivacion
                    select(name="apr_auto_motivacion")#sel1.form-control
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                        option 6
                        option 7
                        option 8
                        option 9
                        option 10
              
              div(class="form-group")
                  label(for="apr_consolidado") Consolidado
                    select(name="apr_consolidado")#sel1.form-control
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                        option 6
                        option 7
                        option 8
                        option 9
                        option 10             
              
              div
                center: input(type="submit" value="Guardar" class="btn btn-info")