extends ./layout.jade
block contenido

          .container
            form(action="/educacion",method="POST")
              .form-inline
                  div(class="form-group")
                  label(for="cap_persona") Cedula
                  select(name="cap_persona")#sel1.form-control
                    -for (var i = 0; i < personas.rowCount; ++i)
                      option=personas.rows[i].per_cedula
                  
                  div(class="form-group")
                  label(for="cap_institucion") Universidad
                  select(name="cap_institucion")#sel1.form-control
                    -for (var i = 0; i < universidades.rowCount; ++i)
                      option=universidades.rows[i].uni_id
                  
                  

              
              .form-inline 
                div(class="form-group")
                  label(for="cap_curso") Tipo de Carrera
                  select(name="cap_curso")#sel1.form-control
                    option Universitario Pregrado Carrera Larga
                    option Universitario Pregrado Carrera Corta
                    option Especializacion
                    option Postgrado
                    option Diplomado
              
              .form-inline 
                  div(class="form-group")
                  label(for="cap_descripcion") Carrera
                  input(type="text", name="cap_descripcion", placeholder="Carrera",id="cap_descripcion",class="form-control form-control-lg border-left-0")
              
              .form-inline 
                div(class="form-group")
                  label(for="cap_fecha") Fecha de inicio
                  input(type="text", name="cap_fecha", placeholder="yyyy-mm-dd",id="cap_fecha",class="form-control form-control-lg border-left-0")

              
                div(class="form-group")
                  label(for="cap_fecha_fin") Fecha de finalizacion
                  input(type="text", name="cap_fecha_fin", placeholder="yyyy-mm-dd",id="cap_fecha_fin",class="form-control form-control-lg border-left-0")

                
              
              div
                center: input(type="submit" value="Guardar" class="btn btn-info")