extends ./layout.jade
block cabecera
block contenido
block pie_pagina

  div(class="remove-float center-block text-center big-top-space")
    h1 Bienvenido a CEPSA
    a(href="/registrar") Registrar
    a  -  
    a(href="/login") Iniciar Sesion
    a  -  
    a(href="/persona") Persona
    a  -  
    a(href="/capacitacion") Capacitacion
    a  -  
    a(href="/infpersona") Informacion de Interes
    a  -  
    a(href="/educacion") Educacion
    a  -  
    a(href="/apreciacion") Apreciacion