extends ./layout.jade
block contenido

          .container
            form(action="/infpersona",method="POST")
              .form-inline
                  div(class="form-group")
                  label(for="inf_per_persona") Cedula
                  input(type="text", name="inf_per_persona", placeholder="Cedula",id="inf_per_persona",class="form-control form-control-lg border-left-0") 

                  div(class="form-group")
                  label(for="inf_per_informacion") Tipo de Informacion
                  input(type="text", name="inf_per_informacion", placeholder="Tipo de Informacion",id="inf_per_informacion",class="form-control form-control-lg border-left-0")
                      
              div(class="form-group")
                  label(for="inf_per_descripcion") Descripcion
                  input(type="text", name="inf_per_descripcion", placeholder="Descripcion",id="inf_per_descripcion",class="form-control form-control-lg border-left-0")
              
              div
                center: input(type="submit" value="Guardar" class="btn btn-info")