doctype html
html(lang="es")
  head
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet' href="//cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css")
    link(rel="stylesheet" href="style.css")
    title CEPSA
    meta(charset=utf-8)

  body
    block cabecera
    block contenido
    block pie_pagina