doctype html
html(lang="es")
  head
    link(href="/public/css/app.css" rel="stylesheet")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
    title CEPSA
    meta(charset=utf-8)


  body
      div(class="remove-float center-block text-center big-top-space")
        h1 Bienvenido a CEPSA
          a(href="/registrar") Registrar
        li
          a(href="/persona") Persona
        li
          a(href="/capacitacion") Capacitacion
        li
          a(href="/infpersona") Informacion de Interes
        li
          a(href="/educacion") Educacion
        li
          a(href="/apreciacion") Apreciacion
        li
         a(href="/trayectoria") Trayectoria
        li
         a(href="/curriculum") Curriculum
        li 
         a(href="/apreciaciones") Apreciaciones

    block cabecera